[submodule "tests/plpgunit"]
	path = test/sql/plpgunit
	url = https://github.com/mixerp/plpgunit
[submodule "postgres-json-schema"]
	path = schema/ext/json-schema
	url = https://github.com/gavinwahl/postgres-json-schema.git
[submodule "modules/postgrest"]
	path = modules/postgrest
	url = https://git@github.com/PostgREST/postgrest
