[submodule "tests/plpgunit"]
	path = tests/plpgunit
	url = https://github.com/mixerp/plpgunit
[submodule "schemas"]
	path = schemas
	url = https://github.com/hashbang/userdb-schemas.git
[submodule "postgres-json-schema"]
	path = postgres-json-schema
	url = https://github.com/gavinwahl/postgres-json-schema.git
